api-led-connectivity/s-book-catalogue/src/main/app/s-book-catalogue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="123.176.38.211" port="3306" user="apiuser1" password="apiwhish#369" database="apiproject" doc:name="MySQL Configuration"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="s-book-catalogue-db-flow">
    	<http:listener config-ref="HTTP_Listener_Configuration" path="/s-book-post" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <logger message="Before DB******************#[payload] " level="INFO" doc:name="Data before pushing in DB"/>
    	<db:insert config-ref="MySQL_Configuration" doc:name="Add record to database">
            <db:parameterized-query><![CDATA[Insert into books (Id, Title, Author, Price) Values (#[payload.Id], #[payload.Title], #[payload.Author], #[payload.Price]);]]></db:parameterized-query>
        </db:insert>
        <set-payload value="{STATUS: Successfully Created}" doc:name="Status"/>    
    </flow>
    <flow name="s-book-catalogue-file-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/s-book-file" doc:name="HTTP"/>
        <logger message="Data before writting********************#[payload]" level="INFO" doc:name="Data before writting to file"/>
        <file:outbound-endpoint path="C:\Users\sswarnkar\Desktop" outputPattern="books.csv" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <set-payload value="{Message written successfully}" doc:name="Status"/>
    </flow>
</mule>
