business-events/src/main/app/business-events.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="business-events-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="business-events-config" raml="business-events.raml" consoleEnabled="false" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="123.176.38.211" port="3306" user="apiuser1" password="apiwhish#369" database="apiproject" doc:name="MySQL Configuration"/>
    <flow name="business-events-main">
        <http:listener config-ref="business-events-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="business-events-config" doc:name="APIkit Router"/>
        <exception-strategy ref="business-events-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="business-events-console">
        <http:listener config-ref="business-events-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="business-events-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/events:business-events-config">
       <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object" />
        <db:insert config-ref="MySQL_Configuration" doc:name="Insert Into DB">
            <db:parameterized-query><![CDATA[insert into orders (id, order_status, operator, price) VALUES (#[payload.id],#[payload.order_status],#[payload.operator],#[payload.price])]]></db:parameterized-query>
        </db:insert>
        <db:select config-ref="MySQL_Configuration" doc:name="read from db">
            <db:parameterized-query><![CDATA[Select * from orders]]></db:parameterized-query>
        </db:select>
        <logger message="#[payload[1].order_status]" level="INFO" doc:name="Logger"/>

        <tracking:custom-event event-name="Retrieved Orders 1" doc:name="Retrieved Orders 1">
            <tracking:meta-data key="Order Id" value="#[payload[0].ID]" />
            <tracking:meta-data key="Order Status" value="#[[payload[0].order_status]]" />
            <tracking:meta-data key="Charge Amount" value="#[[payload[0].price]]" />
        </tracking:custom-event>
        <tracking:custom-event event-name="Retrieved Orders 2" doc:name="Retrieved Orders 2">
            <tracking:meta-data key="Order Id" value="#[payload[1].ID]" />
            <tracking:meta-data key="Order Status" value="#[[payload[1].order_status]]" />
            <tracking:meta-data key="Charge Amount" value="#[[payload[1].order_status]]" />
        </tracking:custom-event>
    </flow>
    <flow name="delete:/events/{id}:business-events-config">
        <set-variable variableName="varId" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable"/>
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from orders where id=#[flowVars.varId];]]></db:parameterized-query>
        </db:delete>
        <set-payload value="{Success: deletion done}
  &quot;message&quot;: &quot;Deleted Successfully&quot;
}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="business-events-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
