recipe-mg05-1/api/mg05-order-mgm-api-gateway/src/main/app/proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
      xmlns:expression-language="http://www.mulesoft.org/schema/mule/expression-language-gw"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/expression-language-gw http://www.mulesoft.org/schema/mule/expression-language-gw/current/mule-expression-language-gw.xsd">

    <configuration defaultProcessingStrategy="non-blocking" />

    <expression-language:property-placeholder location="config.properties" />

    <api-platform-gw:api apiName="![p['api.name']]" version="![p['api.version']]" flowRef="proxy">
    </api-platform-gw:api>

    <http:listener-config name="http-lc-0.0.0.0-8081" host="0.0.0.0" port="![p['proxy.port']]" protocol="HTTP"/>

    <http:request-config
      name="http-request-config"
      host="![p['implementation.host']]"
      port="![p['implementation.port']]"
      basePath="![p['implementation.path']]"
      protocol="HTTP"
    />

    <flow name="proxy">
        <http:listener config-ref="http-lc-0.0.0.0-8081" path="![p['proxy.path']]" parseRequest="false"/>
        <custom-processor class="com.mulesoft.gateway.extension.ProxyRequestHeadersProcessor" />
        <http:request config-ref="http-request-config" method="#[message.inboundProperties['http.method']]"
                      path="#[message.inboundProperties['http.request.path'].substring(message.inboundProperties['http.listener.path'].length()-2)]" parseResponse="false">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599" />
        </http:request>

        <custom-processor class="com.mulesoft.gateway.extension.ProxyResponseHeadersProcessor" />
        <choice-exception-strategy>
            <catch-exception-strategy when="#[exception instanceof org.mule.api.MessagingException &amp;&amp; exception.causedExactlyBy(java.util.concurrent.TimeoutException)]">
                <set-property propertyName="http.status" value="504"/>
                <set-payload value="Gateway timeout" />
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
