customer-service-api/s-customer-api/main/app/s-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.databaseName}" doc:name="MySQL Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8085" basePath="/customers" doc:name="HTTP Listener Configuration"/>
    <context:property-placeholder location="s-customer-dev.properties"/>
    <flow name="GetFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getFlow" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Flow 2  #[message.inboundProperties.get('customerId')]" level="INFO" doc:name="Logger"/>

        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from customer where id= #[message.inboundProperties.get('customerId')]]]></db:parameterized-query>

        </db:select>
        <logger message="____________________ #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload.size() !=0 ]">
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <set-payload value="#[json:[0]]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload doc:name="Set Payload" value="#[payload]"/>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="400" doc:name="Property"/>
            <set-payload value="#[payload]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="PostFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/postFlow" doc:name="HTTP" allowedMethods="POST"/>
        <logger message="Id in system #[message.inboundProperties.get('customerId')]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into customer (id, name, emailId, phone) values (#[message.inboundProperties.get('id')], #[message.inboundProperties.get('name')], #[message.inboundProperties.get('email')], #[message.inboundProperties.get('phone')])]]></db:parameterized-query>

        </db:insert>
        <logger message="after insertion #[payload]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload==1]">
                <set-payload value="Record created successfully" doc:name="Created"/>
            </when>
            <otherwise>
                <set-payload value="#[payload]" doc:name="Not Created"/>
            </otherwise>
        </choice>
    </flow>
</mule>
