anypoint-mq-api/src/main/app/mq.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
    <http:listener-config name="mq-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="mq-config" raml="mq.raml" consoleEnabled="false" doc:name="Router"/>
    <anypoint-mq:config name="Anypoint_MQ_Configuration" doc:name="Anypoint MQ Configuration">
        <anypoint-mq:provider url="https://mq-us-east-1.anypoint.mulesoft.com/api/v1" clientId="5e19da0617e348578f587033ceeda998" clientSecret="e1d99bcc34954fdeBEDF5F2BD3227E21"/>
    </anypoint-mq:config>
    <flow name="mq-main">
        <http:listener config-ref="mq-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="mq-config" doc:name="APIkit Router"/>
        <exception-strategy ref="mq-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="mq-console">
        <http:listener config-ref="mq-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="mq-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/mq/books/{bookId}:mq-config">
        <set-payload value="#[message.inboundProperties.'http.uri.params'.bookId]" doc:name="Message Id"/>
        <anypoint-mq:consume config-ref="Anypoint_MQ_Configuration" destination="sample-recipe-mq" doc:name="Anypoint MQ"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="MQ Message ----- #[payload]" level="INFO" doc:name="Output Logger"/>
    </flow>
    <flow name="post:/mq/books:mq-config">
        <set-payload value="#[payload]" doc:name="Input Data"/>
        <anypoint-mq:publish config-ref="Anypoint_MQ_Configuration" destination="sample-recipe-mq" doc:name="Anypoint MQ"/>
        <logger message="Message ID: #[messageId] -- -- Payload: #[payload]" level="INFO" doc:name="Message Id logger"/>
        <set-payload value="#[messageId]" doc:name="Message Id Return"/>
    </flow>
    <apikit:mapping-exception-strategy name="mq-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
