file-upload-api/src/main/app/file-upload-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="file-upload-apiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/fileupload" doc:name="HTTP"/>
        <custom-transformer class="org.mule.CustomTransformer" doc:name="Custom Transformer"/>
        <file:outbound-endpoint path="E:\backup\newfolder" outputPattern="#[message.inboundAttachments['file'].dataSource.part.fileName]" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <set-payload value="File Uploaded Successfully...." doc:name="Success Message"/>
    </flow>
</mule>
